
.DS_Store
Thumbs.db

.vscode/
.idea/


*.class
*.jar
*.war
*.ear

out/
build/

/target/
Cargo.lock


node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*


__pycache__/
*.pyc
*.pyo
*.pyd


*.log
*.tmp

# 테스트 출력 파일
*.out

# 비교용 임시 파일
/tmp/